@model IEnumerable<K22CNT4_TTCD1_PhamThiThuHuyen.Models.Product>

<div class="product-list">
    @foreach (var product in Model)
    {
        <div class="product-item">
            <h3>@product.Title/h3>
            <a href='@Url.Action("Details", "Product", new { id = product.Id })'>
                <img src="@product.Image" alt="@product.Title" style="width: 150px; height: 150px;" />
            </a>
            <p>Price: $@product.Price</p>
        </div>
    }
</div>
