@model IEnumerable<K22CNT4_Project2_PhamThiThuHuyen.Models.Item>

<h2>Danh sách sản phẩm</h2>

<table>
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td> <!-- Tên sản phẩm -->
                <td>@item.Price VND</td> <!-- Giá sản phẩm -->
                <td>
                    <!-- Link đến trang chi tiết sản phẩm -->
                    <a href="@Url.Action("Details", "Item", new { id = item.Id })">Xem chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
