
@{
    ViewBag.Title = "Pefume - Mua hàng Online giá tốt, chất lượng, ship nhanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="justify-content-center">CHI TIẾT SẢN PHẨM</h2>
<table class="table table-hove">
    <tr>
        <th>Product ID</th>
        <td>@ViewBag.MatchingProduct.Id</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@ViewBag.MatchingProduct.Name</td>
    </tr>
</table>
