@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
        <img class="card-img-top" src="~/Public/images/anh1.png"
        alt="">
    </div>

    <!-- Danh sách sản phẩm -->
    <div class="container">
        <h2 class="text-center">Nước hoa nam</h2>
        <div class="row">
            <img class="card-body" src="~/Public/images/anh2.jpg" alt="">

            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/Public/images/anh3.jpg"
                     alt="VerSace Eros">
                    <div class="card-body">
                        <h5 class="card-title">VerSace Eros</h5>
                        <p class="card-text">3,500,000 VND</p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/Public/images/anh4.jpg" 
                    alt="Dior Sauvage">
                    <div class="card-body">
                        <h5 class="card-title">Dior Sauvage</h5>
                        <p class="card-text">2,800,000 VND</p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/Public/images/anh5.jpg" 
                    alt="Charme Guility">
                    <div class="card-body">
                        <h5 class="card-title">Charme Guility</h5>
                        <p class="card-text">2,590,000 VND</p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <h2 class="text-center">Nước hoa nữ</h2>
        <div class="row">
            <img class="card-body" src="~/Public/images/anh6.jpg" alt="">


            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/Public/images/anh7.jpg"
                     alt="Chanel No.5">
                    <div class="card-body">
                        <h5 class="card-title">Chanel No.5</h5>
                        <p class="card-text">2,500,000 VND</p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/Public/images/anh8.jpg" 
                    alt="Gucci Flora">
                    <div class="card-body">
                        <h5 class="card-title">Gucci Flora</h5>
                        <p class="card-text">3,800,000 VND</p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/Public/images/anh9.jpg" 
                    alt="Cabotine Rose">
                    <div class="card-body">
                        <h5 class="card-title">Cabotine Rose</h5>
                        <p class="card-text">1,590,000 VND</p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>

        </div>
    </div>